body{

background-color: lightgray;

font-family: Arial;

}


h1{

color: blue;

text-align:center;

}


p{

font-size:20px;

color:green;

}


.box{

background-color:white;

padding:20px;

border:2px solid black;

margin:20px;

}


button{

background-color:black;

color:white;

padding:10px;

}